body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:#f4f6f9;
}

header{
    display:flex;
    justify-content:space-between;
    padding:10px 20px;
    background:#dbe7f5;
    font-weight:bold;
}

.container{
    display:flex;
}

#grid{
    display:grid;
    grid-template-columns:repeat(15,40px);
    grid-template-rows:repeat(15,40px);
    gap:1px;
    background:#333;
    margin:20px;
}

.cell{
    background:white;
    border:none;
    text-align:center;
    font-size:18px;
    text-transform:uppercase;
}

.block{
    background:black;
}

.clues{
    flex:1;
    padding:20px;
    background:white;
}

button{
    padding:6px 12px;
    font-weight:bold;
    cursor:pointer;
}

#startScreen{
    position:fixed;
    width:100%;
    height:100%;
    background:#f4f6f9;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#startScreen input{
    padding:10px;
    width:300px;
    margin:10px;
}
